<select [(ngModel)]="selectedUser" (ngModelChange)="selectedUserChange()" class="form-select">
  <option *ngFor="let user of getUsers" [ngValue]="user">{{user.getId}}</option>
</select>

<table class="table table-striped">
<thead>
  <tr>
    <th>title</th>
    <th>state</th>
    <th>user</th>
    <th>action</th>
  </tr>
</thead>
<tbody>
<tr *ngFor="let todo of getDatas | orderByState" [ngClass]="todo.isDone ? 'strike' : ''">
  <td>{{todo.getTitle}}</td>
  <td>{{todo.getState}}</td>
  <td>{{todo.getUser.getId}}</td>
  <td>
    <div class="form-check">
      <input class="form-check-input" [disabled]="todo.isDone" type="checkbox" [(ngModel)]="todo.isDone" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault"></label>
    </div>
  </td>
</tr>
</tbody>
</table>
