<div class="card" style="width: 30%;">
  <div class="card-body">
    <h5 class="card-title">Create TODO</h5>
    <form [formGroup]="todoForm" (ngSubmit)="createTodo()">
      <div class="mb-3">
        <label for="fcTitle" class="form-label">title</label>
        <input type="text" class="form-control" formControlName="title" id="fcTitle" placeholder="title">
      </div>
      <div class="mb-3">
        <label for="fcDescription" class="form-label">Description</label>
        <textarea class="form-control" form id="fcDescription" formControlName="description" rows="3"></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" [disabled]="todoForm.invalid">Create</button>
      </div>
    </form>
  </div>
</div>
